<div class="row">
	<div class="col-md-6">
		<a routerLink="/" href="#" class="btn btn-link">
			<i class="fa fa-arrow-circle-o-left"></i>
		返回首页</a>
	</div>
</div>

<div class="card">
	<h3 class="card-header">
		编辑设置
	</h3>
	<div class="card-group">
		<form (submit)="onSubmit()"> 
			<div class="form-group">
				<label>是否允许注册</label>
				<input type="checkbox" [checked]="settings.allregiter" (change)="settings.allregiter=!settings.allregiter" 
				name="allregiter">
			</div>
			<div class="form-group">
				<label>是否允许添加年龄</label>
				<input type="checkbox" [checked]="settings.disAdd" (change)="settings.disAdd=!settings.disAdd" name="disAdd">
			</div>
			<div class="form-group">
				<label>是否允许编辑年龄</label>
				<input type="checkbox" [checked]="settings.disEdt" (change)="settings.disEdt=!settings.disEdt" name="disEdt">
			</div>
			<button type="submit" class="btn btn-success">保存</button>
		</form>
	</div>
</div>